<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vueblog.mapper.MessageMapper">

    <resultMap id="resultMapUserGetMssagesList" type="com.vueblog.dto.MessageDTO">
        <result column="userName" property="userName"/>
        <result column="content" property="content"/>
        <result column="avatar" property="avatar"/>
        <result column="time" property="time"/>
    </resultMap>
    <select id="userGetMssagesList" resultMap="resultMapUserGetMssagesList">
        select
            u.userName,
            m.content,
            u.avatar,
            m.time
        from (
            select
            userId,
            content,
            time,
            created
            from m_message
            where is_review = 1
         ) m
        join m_user u on m.userId = u.id
        order by m.created
    </select>

</mapper>
